@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body {
  height: 100%;
}

body {
  @apply bg-neutral-950 text-neutral-100 antialiased;
}

/* Scrollbar sutil para a timeline */
.thin-scroll::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
.thin-scroll::-webkit-scrollbar-thumb {
  @apply bg-neutral-700 rounded-full;
}
.thin-scroll::-webkit-scrollbar-track {
  @apply bg-transparent;
}
